@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  /* fill: #2a354d; */
} 


/* Scrollbar Bumping */
html {
  overflow-y: scroll;
}

/* Regions */
.central-america {
  stroke: white;
  fill: purple;
}

.central-america:hover {
  stroke: orange;
  fill: orange;
}

.south-america {
  stroke: white;
  fill: lightskyblue;
}

.south-america:hover {
  stroke: blue;
  fill: blue;
}

.africa {
  stroke: white;
  fill: darkmagenta;
}

.africa:hover {
  stroke: lightpink;
  fill: lightcoral;
}

.asia {
  stroke: white;
  fill: darkgoldenrod;
}

.asia:hover {
  stroke: blueviolet;
  fill: orangered;
}
